body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    padding: 0%;
    background-color: #C9C1AF;
    overflow-x: hidden;
}

footer {
    text-align: center;
    font-family: "garlic-salt";
    font-size: 0.8rem;
    color: #4D3117;
    padding-top: 20%;
    padding-bottom: 5%;
}

p {
    font-family: "garlic-salt";
    color: #4D3117;
    line-height: 200%;
    
}

.navbar-container {
    display: none;
}


.nav-desktop {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    padding-top: 10%;
}

.nav-desktop ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-desktop a {
    text-decoration: none;
    color: #4D3117;
    font-family: "garlic-salt";
    font-size: 1.2rem;
}

.nav-desktop a:hover {
    text-decoration: underline;
}


header {
    text-align: center;
    padding: 2rem 0;
}

header > a {
    display: block;
    text-decoration: none;
    color: #4D3117;
    font-family: "fields";
    font-size: 3.5rem;
}


/* home styling */

.desktop-images img {
    padding: 8%;
}

.mobile-image {
    display: none;
}


/* sw styling */

.sw img {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    
}

.sw img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.sw a {
    text-decoration: none;
}

.sw img {
    border: none;
}

/* cv styling */

.cv h1 {
    font-size: 1.5rem;
    text-decoration: underline;
    padding-left: 5%;
    padding-top: 5%;
    color: #4D3117;
}

.cv li {
    list-style: none;
    color: #4D3117;
    font-family: "garlic-salt";
    font-size: 1.2rem;
    position:center;
    padding: 1%;
}

/* about styling */

.about h1 {
    font-size: 1.2rem;
   position: center;
   text-align: center;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 20%;
   font-weight: 100;
    color: #4D3117;
}

.about p {
    font-size: 1.2rem;
    position: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}

/* contact styling */

.contact a{
    text-decoration: none;
    font-size: 1.2rem;
    position: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.insta {
    text-align: center;
    text-decoration: none;
}

.insta a img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;

}

/* media query */

@media only screen and (max-width: 600px) and (min-width: 100px) {


.sw a img {
    width: 45%;
}

.desktop-images {
        display: none;
    }

    .mobile-image {
        display: block;
        text-align: center;
    }

    .mobile-image img {
        width: 50%;
        height: auto;
       
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 20px 40px;
    }

    
    .nav-desktop {
        display: none;
    }


    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger {
        display: block;
        height: 30px;
        width: 45px;
        position: absolute;
        top: 30px;
        right: 20px; 
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger .line {
        display: block;
        height: 6px;
        width: 100%;
        border-radius: 10px;
        background: #4D3117;
    }

    .navbar-container .hamburger .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    nav .menu-items {
        padding-top: 100px;
        background: #C9C1AF;
        height: 100vh;
        width: 100%;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: -5px 0px 10px 0px #989180;
        margin-top: 0;
    }

    nav .menu-items li {
        list-style: none;
        margin-right: 4rem;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .menu-items a {
        text-decoration: none;
        color: #4D3117;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
    }
    
    .menu-items a:hover {
        color: #8a5b30;
        transition: color 0.3s ease-in-out;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger .line3 {
        transform: rotate(-35deg);
    }


}